<app-navbar></app-navbar>
<!-- tours.component.html -->
<section class="tour-wrapper">
  <p class="results-count">{{ tours.length }} results</p>

  <div class="tour-grid">
    <div *ngFor="let tour of tours" class="tour-card">
      <img
        *ngIf="tour?.hotel?.images"
        [src]="tour.hotel.images[0]"
        alt="Tour image"
      />
      <div *ngIf="!(tour?.hotel?.images)">
        No images available
      </div>
      <h3>{{ tour?.name }}</h3>
      <p>{{ tour?.description }}</p>
      <button *ngIf="tour?.id !== undefined" (click)="viewDetails(tour.id)">
        View Details
      </button>
    </div>
  </div>
</section>
